<!DOCTYPE html>
<html>
<head>
    <title>OldDragon - Criação de Personagem</title>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=UnifrakturCook&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 id="title">Bem-vindo à OldDragon!</h1>
    <form method="post" id="form">
        <label id="campo1">Nome do personagem:</label>
        <input type="text" name="nome" required><br><br>

        <label id="campo1">Escolha o estilo:</label><br>
        <input type="radio" name="estilo" value="classico" required> Clássico <br>
        <input type="radio" name="estilo" value="aventureiro"> Aventureiro <br>
        <input type="radio" name="estilo" value="heroico"> Heróico <br><br>

        <button type="submit">Avançar</button>
    </form>
</body>
</html>
