<!DOCTYPE html>
<html>
<head>
    <title>Escolha a Raça</title>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=UnifrakturCook&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Escolha a raça do personagem</h2>
    <form method="post">
        <input type="radio" name="raca" value="humano" required> Humano <br>
        <input type="radio" name="raca" value="elfo"> Elfo <br>
        <input type="radio" name="raca" value="anao"> Anão <br><br>
        <button type="submit">Avançar</button>
    </form>
</body>
</html>
